@use "../../assets/styles/mixins" as *;
@use "../../assets/styles/variables" as *;

.main-container {
  display: flex;
  height: calc(100vh - 80px);
}

.content-area {
  flex: 1;
  @include flex-column;
  padding: $spacing-xl;
  overflow: hidden;
}
