@use "../../assets/styles/mixins" as *;
@use "../../assets/styles/variables" as *;

.container {
  max-width: 1200px;
  margin: 0 auto;
  padding: 0 $spacing-xl;
}

.page-title {
  text-align: center;
  font-size: $font-size-xxxl;
  margin: $spacing-xxxl 0;
  color: $primary-dark;
}
